* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* scroll-behavior: smooth;  */
    scroll-behavior: smooth;
}

/* set vakl */
:root {
    --main-color: #171c23;
    --scondry-color: #21272f;
    --tertiary-color: #889498;
    --text-color: #fff;
    --ruby-color: #33da89;
    --ruby-color-text: #33da89bd;
    --text-back-color: #e1e2e2;
    --text-size-normal: 1vw;
    --margin-main: 1vw;
    --pading-main: 1vw;
    --font-size: 1vw;
    /* --scondry-ruby-color: #008d95; */
}

a {
    text-decoration: none;
}

body {
    background-color: var(--main-color);
    /* background-image: linear-gradient(180deg, var(--main-color), var(--scondry-color)); */
    /* height: 100vh; */
    width: 100%;
}

section {
    overflow: hidden;
    /* padding: 12vw 0; */
    padding: 5vw 0;
}

.color {
    width: 100%;
    background-color: var(--scondry-color);
}

@media (max-width:991) {}


/* ----------------------------------------------------------------- */
/* .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--ruby-color);
    opacity: 50%;
    clip-path: circle(35vw at right 50vw);
} */


/* ----------------------------------------------------------------- */
/* side bar  */
.sidepar-sec {
    min-height: 0;
    margin: 21% 2%;
    z-index: 900;
    position: fixed;
    align-items: center;
    text-align: center;

}

.sidepar-sec .contener {
    align-items: center;
    width: fit-content;
}

.sidepar-sec .sicons {
    padding: 50%;
}

.sidepar-sec .sicons a i {
    font-size: calc(0.1vw + var(--font-size));
    color: var(--text-back-color);

}

.sidepar-sec .sicons a i:hover {
    color: var(--ruby-color);
}

.affter-row::after {
    content: "";
    position: absolute;
    height: 12vw;
    width: 0.1vw;
    background-color: var(--ruby-color);
    ALIGN-ITEMS: center;
    RIGHT: -0.1VW;
    BOTTOM: 12VW;
    opacity: 70%;
}

.before-row::after {
    content: "";
    position: absolute;
    height: 12vw;
    width: 0.1vw;
    background-color: var(--ruby-color);
    opacity: 70%;
    ALIGN-ITEMS: center;
    RIGHT: -0.1VW;
    BOTTOM: -15VW;
}

/* ----------------------------------------------------------------- */
/* header */
header {
    background-color: var(--main-color);
    z-index: 2000;
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
}

nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 6px 0;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    z-index: 900;
    /* background-color: var(--main-color); */
    margin: auto;
}

.mainname img {
    size: 80px;
    height: 30px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* .mainnamet {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
} */

.linkspar {
    padding: 0 var(--pading-main);
    font-size: 14px;
    color: var(--tertiary-color);
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}



/* header  .cinter a:after{
      content: "";
      position: absolute;
      background-color: var(--text-color);
      width: 0.1vw;
      height: 40%;
      right: 5px;
  }  */
.contact {
    color: var(--ruby-color);
    font-weight: calc(0.2vw 0);
    font-weight: 600;
}

.dotname {
    font-weight: 900;
    color: var(--ruby-color);
}



.contantcon {
    text-align: center;
    padding: calc(var(--pading-main) - 0.7vw) 0;
}

.contantcon a {
    font-size: 18px;
    font-weight: 600;
    color: var(--ruby-color-text);

}

.linkspar span {
    font-size: 18px;
}


.linkspar:hover {
    color: var(--text-color);
}

@media (max-width:991px) {
    nav {
        justify-content: center;
        flex-direction: column;

    }

    .contantcon {
        display: none;
    }

    .contact {
        display: none;
    }

    .cinter {
        position: fixed;
        top: auto;
        bottom: 0;
        left: 0;
        right: 0;
        transform: none;
        width: 100%;
        background-color: var(--main-color);
        z-index: 77777777;
        padding: 12px 0 10px;
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 20%);
    }

    .linkspar span {
        font-size: 18px;
    }

    .mainname img {
        padding-top: 6px;

    }
}

/* ----------------------------------------------------------------- */


/* home sec */
.main-sec-home {
    width: 100%;
    padding: 12vw 0;
}

.area {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -5;


}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}


.maincontaner {
    width: 80%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.contanttext {
    width: 40%;
    z-index: 800;
    padding-bottom: 10px;
    border-bottom: 3px solid var(--ruby-color);

}

.contanttext h6,
h2,
b {
    color: var(--text-color);
}

.contanttext h6 {
    font-weight: 700;
    position: relative;
    top: 1.5vw;
    font-size: calc(var(--font-size));
    color: var(--ruby-color);
}

.contanttext h2 {

    position: relative;
    right: 0.5vw;
    font-size: 8vw;
    text-align: left;

}

.contanttext b {
    font-weight: 500;
    color: var(--tertiary-color);
    word-spacing: 2;
    line-height: 1.3;
}

.contanttext .line {}

.contanttext line::after {
    content: "";
    position: absolute;
    background-color: var(--ruby-color);
    width: 50%;
    height: 0.1vw;
    right: 15.2vw;
    top: 12.5vw;
}


.img-home-page {
    width: 40%;
    z-index: 100;
    display: contents;
}

.img-home-page img {
    size: 20vw;
    height: 22vw;
    z-index: 100;

}

.contanttext ::before {
    content: "";
    position: relative;
    background-color: var(--ruby-color);
    width: 100%;
    height: 2vw;
}

@media (max-width:950px) {
    .maincontaner {
        flex-direction: row;
    }

    .contanttext {
        display: flex;
        flex-direction: column;
        justify-content: left;
        width: 40%;
    }

    .contanttext h2 {
        text-align: center;
    }

    .contanttext b {
        display: none;
    }

    .img-home-page {
        width: 40%;
        z-index: 100;
        margin: auto;
        display: contents;
        justify-content: center;
        align-items: center;
        position: relative;

    }

    .img-home-page img {
        align-items: center;

    }

    .contanttext h6 {
        right: -3vw;
    }

    .contanttext h2 ::after {
        content: "";
        position: absolute;
        background-color: var(--ruby-color);
        width: 50%;
        height: 0.1vw;
        right: 12.5vw;
        top: 13.5vw;


    }
}

.vibration span {
    transition: all 500ms;
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    margin-right: 10px;
    text-shadow: 1px 2px 3px #999;
}

.vibration span:hover {
    filter: blur(3px);
    animation: vibrate 50ms linear infinite forwards;
    color: var(--ruby-color);

}

@keyframes vibrate {
    0% {
        transform: translateX(-1px) translateY(1px);
    }

    100% {
        transform: translateX(1px) translateY(2px);
    }
}

/* ---------------------------------------------------------- */
/* about-sec */
.about-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;

}

.about-sec .contener-text {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.about-sec .contener-text h3 {
    font-size: 40px;
    color: var(--text-color);

}

.about-sec .contener-text h3 span {
    color: var(--ruby-color);
}


.about-sec .contener-text h2 {
    font-size: 60px;
    font-weight: 900;
    color: var(--text-color);
}

.about-sec .contener-text h2 span {
    color: var(--ruby-color);
}

.about-sec .contener-text h4 {
    font-size: 25px;
    color: var(--text-color);
    font-weight: 600;
}

.about-sec .contener-text b {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 500;
}

.about-sec .contener-text .social-media-icons-contener {
    margin-top: 15px;
    border: var(--ruby-color-text);
    /* border-style: solid;
    border-width: 2px;
    border-radius: 10px 0 10px 0; */
    width: fit-content;

}

.about-sec .contener-text .find {
    margin-top: 15px;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--text-color);
    font-size: 15px;

}

.about-sec .contener-text .icons {

    margin-top: 20px;
}

.about-sec .contener-text .icons a {
    color: var(--tertiary-color);
    font-size: 30px;
    padding-right: 10px;

}

.about-sec .contener-text .icons a:hover {
    color: var(--ruby-color);
    scale: 1.5;

}

.about-sec .contener-text .button {
    display: flex;
    justify-content: left;
    align-items: center;
}

.about-sec .contener-text .button a {
    margin-right: 10px;
    margin-top: 20px;
    background-color: var(--tertiary-color);
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 10px;
}


.img-contener {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-contener img {

    height: 400px;
    border-radius: 50px;
}

@media (max-width:1270px) {
    .about-sec .contener-text {
        width: 60%;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:1200px) {
    .about-sec .contener-text {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .img-contener img {

        height: 350px;
        border-radius: 50px;
    }
}

@media (max-width:991px) {
    .about-sec {
        display: flex;
        flex-direction: column;
        /* align-items: flex-start; */
        width: 80%;
        text-align: center;
    }

    .about-sec .contener-text {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .img-contener {
        width: 80%;
        margin-top: 20px;
    }


    .img-contener img {

        height: 350px;
        border-radius: 50px;
    }
}

@media (max-width:700px) {
    .about-sec .contener-text h3 {
        font-size: 20px;
    }

    .about-sec .contener-text h2 {
        font-size: 30px;
    }

    .about-sec .contener-text h4 {
        margin-top: 5px;
        font-size: 14px;
    }

    .about-sec .contener-text b {
        margin-top: 20px;
        color: var(--tertiary-color);
    }

    .about-sec .contener-text .social-media-icons-contener {
        margin-top: 7px;
    }

    .about-sec .contener-text .find {
        margin-top: 7px;
        font-size: 10px;

    }

    .about-sec .contener-text .icons {

        margin-top: 10px;
    }

    .about-sec .contener-text .icons a {
        font-size: 20px;
        padding-right: 7px;

    }

    .img-contener img {

        height: 200px;
        border-radius: 25px;
    }

}


/* servses sec */
.servses-sec {}

.contaner {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
    align-items: center;

}

.servses-sec .contaner h2 {
    font-size: 80px;
    color: var(--tertiary-color);
    letter-spacing: 0.5vw;
}

.servses-sec .grop-ser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.servses-sec .grop-ser .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: 3%;
    border-radius: 20px;
    padding: 20px 35px;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 0.6s ease;

}

.servses-sec .grop-ser .card h4 {
    font-size: 30px;
    color: var(--text-color);
    font-weight: 900;
    text-align: center;
    align-items: center;
}

.servses-sec .grop-ser .card .cicon {
    font-size: 60px;
    color: var(--ruby-color);

}

.servses-sec .grop-ser .card b {
    /* word-break: break-word; */
    font-size: 13px;
    color: var(--tertiary-color);
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    margin: 2%;


}

.servses-sec .grop-ser .card a {
    margin: 3% 2%;
    font-size: 13px;
    background-color: var(--ruby-color);
    padding: 2% 6%;
    border-radius: 30px;
    color: var(--text-color);
    font-weight: 700;
    /* opacity: 70%; */
}

.servses-sec .grop-ser .card a:hover {

    color: var(--tertiary-color);
}

.servses-sec .grop-ser .card:hover {
    transform: scale(1.1);
    background-color: #8894982d;
}

.servses-sec .grop-ser .card:hover h4 {
    color: var(--text-color);
}

/* .cardi {
    color: white;
    
    height: 5vw;
  
    font-size: 5em;
    visibility:visible;
} */
/* .fa-solid fa-atom-simple{
    color: #33da89;
} */

@media (max-width:991px) {
    .servses-sec .grop-ser .card {
        width: 250px;
    }

    .servses-sec .grop-ser .card h4 {
        font-size: 20px;

    }

    .servses-sec .grop-ser .card .cicon {
        font-size: 50px;
    }

    .servses-sec .contaner h2 {
        font-size: 40px;
    }


}



/* skills-sec */
.skills-sec {
    text-align: center;
    margin-bottom: 20px;
}

.skills-sec h2 {
    font-size: 80px;
    color: var(--tertiary-color);
    letter-spacing: 0.5vw;
}

.skills-sec .contaner {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

.skills-sec .list-skils {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    width: fit-content;
    margin: auto;
    padding: 20px 0;
}

.skills-sec .list-skils .skill-scale {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
}

.skills-sec .list-skils .skill-scale h3 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    margin-right: 20px;
}

.skills-sec .list-skils .skill-scale img {
    height: 50px;
    margin-right: 10px;
}

.skills-sec .list-skils .skill-scale .circle {
    background-color: var(--scondry-color);
    height: 30px;
    width: 30px;
    margin-right: 20px;
    border-radius: 20px;
    border: var(--ruby-color);
    border-style: solid;
    border-width: 1px;
}

.skills-sec .list-skils .skill-scale .circlen {
    background-color: var(--scondry-color);
    height: 30px;
    width: 30px;
    margin-right: 22px;
    border-radius: 20px;

}

.skills-sec .list-skils .skill-scale h6 {
    color: var(--text-color);
    font-size: 18px;
}

.prr {
    display: none;
}

@media (max-width:991px) {
    .skills-sec h2 {
        font-size: 40px;
    }

    .skills-sec .contaner {
        padding: 10px 0;
    }

    .skills-sec .list-skils {
        padding: 10px 0;
    }

    .skills-sec .list-skils .skill-scale {
        margin: 10px 0;
    }

    .skills-sec .list-skils .skill-scale h3 {
        color: var(--text-color);
        font-size: 20px;
        font-weight: 700;
        margin-right: 20px;
    }

    .skills-sec .list-skils .skill-scale img {
        height: 40px;
        margin-right: 30px;
    }

    .skills-sec .list-skils .skill-scale .circle {
        display: none;
    }

    .skills-sec .list-skils .skill-scale .circlen {
        display: none;

    }

    .skills-sec .list-skils .skill-scale h6 {
        display: none;
    }

    .skills-sec .list-skils .skill-scale h5 {
        position: relative;



        color: var(--text-color);
    }


    .prr {
        display: block;
    }

    svg {}

}

circle {
    width: 30px;
    height: 30px;
    fill: var(--scondry-color);
    stroke-width: 2;
    stroke: var(--ruby-color);
    transform: translate(5px, 5px);
    stroke-dasharray: 150;
    stroke-dashoffset: 300;
}
